section {
    width: 100%;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    // padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    max-width: fit-content;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.mainBtns {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
   

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        min-width: fit-content;
    }
}

.filterOptions {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px 15px;
    border: solid;
    border-color: var(--border-color);


}
.filter{
width: 100%;
display: flex;
justify-content: space-between;

}
.choiceContainer{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.choice{
display: flex;
flex-direction: column;
box-sizing: border-box;
padding: 10px;

>div{
    cursor: pointer;
box-sizing: border-box;
padding-left: 5px;
    &:hover{
        background-color: var(--border-color);
    }
}
}

.choiceHighlight{
    background-color: var(--border-color);
}

.choiceHeadline{
    border-bottom: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-bottom: 16px;
    border-color: var(--main-color);
    >span{
        color: var(--main-color);
    }
 
}

.filterBtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.headlineContainer {
    width: 100%;
    border-top: solid;
    border-color: var(--border-color);
    display: flex;

}

.placeholder {
    width: 100%;
    height: 80px;
    box-sizing: border-box;

}

.todos {
    width: 100%;
    height: 100%;
    border-left: solid;
    border-color: var(--border-color);

}

.todo {
    width: 300px;
    height: 80px;
    border-bottom: solid;
    border-right: solid;
    border-color: var(--border-color);
    height: 80px;

    >div {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

}

.prios {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 1px;

    >h2 {
        width: 100% !important;
        text-align: center !important;
    }

    >div {
        width: 110px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
    }
}

.prioRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prioContainer {
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-right: solid;
    border-color: var(--border-color);
    background-color: white;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(207, 202, 202);

    }

    >div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;

        background-color: #FBBF8D;
    }
}

.state {

    height: 80px;
    box-sizing: border-box;


    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    >span {
        min-width: 120px;
        max-width: 120px;
        text-align: center;
    }

}

.stateRows {
    display: flex;
}

.stateContainer {
    width: 120px;
    height: 80px;
    border-bottom: solid;
    border-right: solid;
    border-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    >img {
        width: 40px;
    }

    transition: background-color 0.3s ease-in-out;

    &:hover {

        background-color: rgb(207, 202, 202);
    }
}

// .notes {
//     border-right: solid;
//     border-color: var(--border-color);
// }

.notesContainer {
    width: 300px;
    height: 80px;
    border-bottom: solid;
    border-right: solid;
    border-color: var(--border-color);
    transition: background-color 0.3s ease-in-out;

    &:hover {

        background-color: rgb(207, 202, 202);
    }
}



.notesSubContainer {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    align-items: center;

    >span {
        width: 100%;
        height: 100%;
    }
}

.text {
    width: 100%;
}

.textarea {
    width: 100%;

}

.high {
    background-color: #FE949C;
}

.medium {
    background-color: #F2D505;
}

.low {
    background-color: #9AD3EA;
}

.editTask {
    width: fit-content;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 10px;
    border-bottom: solid;
border-color: var(--border-color);
    >button {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            width: 15px;

        }
    }
}

.borderBottom {
    border-bottom: solid;
    border-color: var(--border-color);
}

.borderRight {
    border-right: solid;
    border-color: var(--border-color);
}

.options {
    border-right: solid;
    border-color: var(--border-color);
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 56px;
    flex-wrap: wrap;

}

.taskCard {
    width: 300px;

    height: 300px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    >h2,
    p {
        text-align: center;
    }

}

p,
h2 {
    margin: 0;
}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.522);
    height: calc(100vh - 120px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 0.5s ease-in-out;
}



@keyframes opacity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.addTask {
    width: 100%;
    max-width: 700px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
    // border-radius: 20px;

}

input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;

    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
    font-family: 'Gloria'
}

.taskBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.taskBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.taskBtnsHighlight {
    background-color: white;
    color: var(--main-color);
    border: solid;
}

.categoryContainer {
    width: 100%;
    height: 50px;
    border: solid;
    border-color: var(--border-color);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: text;
    position: relative;

    >span {
        color: gray;
    }
}

.catDropdown {
    position: absolute;
    left: -1px;
    top: 50px;
    width: 100%;
    border: solid;
    box-sizing: border-box;
    padding: 10px 20px;
    border-color: var(--border-color);
    background-color: white;

    >div {
        cursor: pointer;
        box-sizing: border-box;
        padding: 5px 10px;

        &:hover {
            background-color: var(--border-color);
        }
    }
}

.addTaskText {
    border: solid;
    border-width: 1px;
    border-color: var(--border-color);

    &::placeholder {
        padding-left: 10px;
    }
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

}

.closeBTN {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 20px;
        filter: invert(100%);
    }

}

.btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    >button {
        width: 150px;
        font-size: 16px;
    }
}

@media(max-width:1700px){
    .todo{
        width: 200px;
        height: 60px;
        >div{
            >span{
                font-size: 14px;
            }
        }
    }
    .prioContainer{
        width: 100px;
        height: 60px;
        >div{
            >span{
                font-size: 14px;
            }
        }
    }
    .prios{
        height: 60px;
        >div{
            width: 90px;
        }
    }

    .placeholder{
        height: 60px;
    }
    .state{
        height: 60px;
        >span{
            min-width: 100px;
            max-width: 100px;
        }
    }
    .stateContainer{
        width: 100px;
        height: 60px;
        >span{
            font-size: 14px;
        }
        >img{
            width: 25px;
        }
    }
    .notesContainer{
        width: 200px;
        height: 60px;
        
    }

    .editTask{
        width: 120px;
        height: 60px;
        >button{
            width: 35px;
            height: 35px;
        }
    }
    .text{
        font-size: 14px !important;
    }
    h2{
        font-size: 20px !important;
    }
    button{
        width: 150px;
        height: 55px;
        font-size: 16px;
    }
    .mainBtns{
        input{
            height: 40px;
            
        }
    }
    .addTask{
        max-width: 550px;
        >input{
            height: 40px;
        }
    }
    .categoryContainer{
        height: 40px;
        font-size: 14px;
    }
}